{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %} {%
block content %} {% include "header.html" %}

<!-- Page Header -->
<!-- <header class="masthead" style="background-image: url("${{ url_for('static', filename='img/bluewavy.png')}}")"> -->
<header
  class="masthead"
  style="background-image: url(https://raw.githubusercontent.com/mathcodes/PythonLog/main/static/img/PIC3.JPG);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      Ok, why not. If nothing more than a filler for the ipsum dolor. 🧐 I am
      currently looking for work in web development while thankfully staying
      very active in the industry both at work and in my free time. If you know
      of any opportunities for I am all ears. I have been picking up projects as
      small and short as a week to full stack e-commerce with auth, validation,
      and wallet-friendly. 😉 Other than coding, I enjoy the ocean, the
      mountains, playing my guitar on both and everywhere in between! Can't
      forget my two pups Luna and Deci either. Carrying for me by my side all
      this way. Interested? Great! Hit me up on one of those link down there and
      let's chat! 👇
    </div>
  </div>
</div>

<hr />
{% include "footer.html" %} {% endblock %}
